<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>How is NYC Parking Enforcement?</title>

    {{ if .Report.PreviewImage }}
    <meta property="og:title" content="How is NYC Parking Enforcement?" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{.Report.Description}}" />
    <meta property="og:url" content="https://hows-my-enforcement.nyc{{.Report.Link}}" />
    <meta property="og:image" content="{{.Report.PublicPreview}}" />
    <meta property="og:image:type" content="image/png" />
    {{ end }}
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/d3@7.8.3/dist/d3.min.js" integrity="sha256-z9jvEmgHGEfWO4rPfEXUGKFd6UkxkavfJ0zf3qT31O4=" crossorigin="anonymous"></script>
    {{ if .SavePreview}}
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js" integrity="sha256-6H5VB5QyLldKH9oMFUmjxw2uWpPZETQXpCkBaDjquMs=" crossorigin="anonymous"></script>
    {{ end }}
    <style>
    body {
        background-color:#ffd900;

    }
    .table-xsm {
        font-size:80%;
    }
    .table-xsm>:not(caption)>*>* {
        padding: 0.1rem 0.1rem;
    }
    .summary {
        line-height: 1.7rem;
    }
    footer {
    text-align: center;
    font-size: .75rem;
    color: #999;
    padding: 2rem 1rem;
    }
    footer a:link, footer a:visited {
    color: #777;
    }
    footer p {
    margin-bottom: .5rem;
    }
    .table-striped>tbody>tr.non-parking-violation > td {
        color:#999;
    }
    h1 > a {
        text-decoration: none;
        color:inherit;
    }
    h1 > a:hover {
        text-decoration: underline;
        color:inherit;
    }
    .table>thead>tr>th:first-child, .table>tbody>tr>td:first-child {
        padding-left: .5rem;
    }
    .agency { display: none;}
    @media (min-width: 768px) { 
        .agency { display: table-cell; }
    }
    .render mark {
        white-space: nowrap;
    }
</style>
</head>
<body>

<div class="container mt-2 mt-lg-3 mt-xl-5 px-3">

    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8">
        <h1><a href="/">How is NYC Parking Enforcement?</a></h1>
        <p class="hide-render">Is NYPD Traffic's parking enforcement consistent and rigerous on your block? <a href="/">Check</a>!</p>
        <p class="fw-light hide-render">Quantity doesn't equal quality. NYPD Traffic should provide consistent rigorous enforcement of parking regulations.</p>
        </div>
    </div>

<div id="report-data" class="row mb-5"></div>

<div class="row mb-2 text-muted fw-light">
    <div class="col-lg-8">
        <p>Methodlogy: Streets with less than 3 summonses issued are excluded from street selection. Records that are missing a street, violation_county or have issue_dates before the start of the fiscal year (July 1st) or after the current date (in the future) are also excluded.</p>
    </div>
</div>
<div class="row">
    <footer>
        <p>Made with ❤️ by <a href="https://jehiah.cz/">@jehiah</a>.</p>
        <p>Data from <a href="https://data.cityofnewyork.us/City-Government/Parking-Violations-Issued-Fiscal-Year-2023/pvqr-7yc4">NYC Open Data</a></p>
    </footer>
</div>

</div>


<script type="module">
    import FYCalendar from "./static/fy_calendar.js"
    import Punchcard from "./static/punchcard.js"

    const report = {{.Report}}

    const parseDate = d3.utcParse("%Y-%m-%d")
    const FYLookup = {
        // TODO: automatically set max data separately
        // P, T, S have data through this end date
      "FY2022-2023": {
        "dataset":"pvqr-7yc4",
        "start": parseDate("2022-07-01"),
        "end": parseDate("2023-05-28"), // NYPD only through 5/16
       },
      "FY2021-2022": {"dataset":"7mxj-7a6y", "start": parseDate("2021-07-01"), "end": parseDate("2022-06-30")}
    }
    const FY = FYLookup["FY2022-2023"]

    const ViolationCodes = {
        "1":"FAILURE TO DISPLAY BUS PERMIT",
        "2":"NO OPERATOR NAM/ADD/PH DISPLAY",
        "3":"UNAUTHORIZED PASSENGER PICK-UP",
        "4":"BUS PARKING IN LOWER MANHATTAN",
        "5":"BUS LANE VIOLATION",
        "6":"OVERNIGHT TRACTOR TRAILER PKG",
        "7":"FAILURE TO STOP AT RED LIGHT",
        "8":"IDLING",
        "9":"OBSTRUCTING TRAFFIC/INTERSECT",
        "10":"NO STOPPING-DAY/TIME LIMITS",
        "11":"NO STANDING-HOTEL LOADING",
        "12":"MOBILE BUS LANE VIOLATION",
        "13":"NO STANDING-TAXI STAND",
        "14":"NO STANDING-DAY/TIME LIMITS",
        "15":"NO STANDING-OFF-STREET LOT",
        "16":"NO STANDING-EXC. TRUCK LOADING",
        "17":"NO STANDING-EXC. AUTH. VEHICLE",
        "18":"NO STANDING-BUS LANE",
        "19":"NO STANDING-BUS STOP",
        "20":"NO PARKING-DAY/TIME LIMITS",
        "21":"NO PARKING-STREET CLEANING",
        "22":"NO STAND TAXI/FHV RELIEF STAND",
        "23":"NO PARKING-TAXI STAND",
        "24":"NO PARKING-EXC. AUTH. VEHICLE",
        "25":"NO STANDING-COMMUTER VAN STOP",
        "26":"NO STANDING-FOR HIRE VEH STND",
        "27":"NO PARKING-EXC. DSBLTY PERMIT",
        "28":"OVERTIME STANDING DP",
        "29":"ALTERING INTERCITY BUS PERMIT",
        "30":"NO STOP/STANDNG EXCEPT PAS P/U",
        "31":"NO STANDING-COMM METER ZONE",
        "32":"OT PARKING-MISSING/BROKEN METR",
        "33":"MISUSE PARKING PERMIT",
        "34":"EXPIRED METER",
        "35":"SELLING/OFFERING MCHNDSE-METER",
        "36":"PHTO SCHOOL ZN SPEED VIOLATION",
        "37":"EXPIRED MUNI METER",
        "38":"FAIL TO DSPLY MUNI METER RECPT",
        "39":"OVERTIME PKG-TIME LIMIT POSTED",
        "40":"FIRE HYDRANT",
        "41":"MISCELLANEOUS",
        "42":"EXPIRED MUNI MTR-COMM MTR ZN",
        "43":"EXPIRED METER-COMM METER ZONE",
        "44":"PKG IN EXC. OF LIM-COMM MTR ZN",
        "45":"TRAFFIC LANE",
        "46":"DOUBLE PARKING",
        "47":"DOUBLE PARKING-MIDTOWN COMML",
        "48":"BIKE LANE",
        "49":"EXCAVATION-VEHICLE OBSTR TRAFF",
        "50":"CROSSWALK",
        "51":"SIDEWALK",
        "52":"INTERSECTION",
        "53":"SAFETY ZONE",
        "54":"PCKP DSCHRGE IN PRHBTD ZONE",
        "55":"ELEVATED/DIVIDED HIGHWAY/TUNNL",
        "56":"DIVIDED HIGHWAY",
        "57":"BLUE ZONE",
        "58":"MARGINAL STREET/WATER FRONT",
        "59":"ANGLE PARKING-COMM VEHICLE",
        "60":"ANGLE PARKING",
        "61":"WRONG WAY",
        "62":"BEYOND MARKED SPACE",
        "63":"NIGHTTIME STD/ PKG IN A PARK",
        "64":"NO STANDING EXCP D/S",
        "65":"OVERTIME STDG D/S",
        "66":"DETACHED TRAILER",
        "67":"PEDESTRIAN RAMP",
        "68":"NON-COMPLIANCE W/ POSTED SIGN",
        "69":"FAIL TO DISP. MUNI METER RECPT",
        "70":"REG. STICKER-EXPIRED/MISSING",
        "71":"INSP. STICKER-EXPIRED/MISSING",
        "72":"INSP STICKER-MUTILATED/C'FEIT",
        "73":"REG STICKER-MUTILATED/C'FEIT",
        "74":"FRONT OR BACK PLATE MISSING",
        "75":"NO MATCH-PLATE/STICKER",
        "76":"VIN OBSCURED",
        "77":"PARKED BUS-EXC. DESIG. AREA",
        "78":"NGHT PKG ON RESID STR-COMM VEH",
        "79":"UNAUTHORIZED BUS LAYOVER",
        "80":"MISSING EQUIPMENT",
        "81":"NO STANDING EXCP DP",
        "82":"COMML PLATES-UNALTERED VEHICLE",
        "83":"IMPROPER REGISTRATION",
        "84":"PLTFRM LFTS LWRD POS COMM VEH",
        "85":"STORAGE-3HR COMMERCIAL",
        "86":"MIDTOWN PKG OR STD-3HR LIMIT",
        "87":"FRAUDULENT USE PARKING PERMIT",
        "88":"UNALTERED COMM VEH-NME/ADDRESS",
        "89":"NO STD(EXC TRKS/GMTDST NO-TRK)",
        "90":"VEH-SALE/WSHNG/RPRNG/DRIVEWAY",
        "91":"VEHICLE FOR SALE(DEALERS ONLY)",
        "92":"WASH/REPAIR VEHCL-REPAIR ONLY",
        "93":"REMOVE/REPLACE FLAT TIRE",
        "96":"RAILROAD CROSSING",
        "97":"VACANT LOT",
        "98":"OBSTRUCTING DRIVEWAY",
        "99":"OTHER"
    }
    const nonParkingViolations = new Set([
        "3", "7", "8", "29", "33", "36", "41", "54", "70","71", "72", "73", "74", "75", "76", "80", "82", "83", "84", "87", "88", "91", "97", "99"
    ])

    const agencyLookup = {
        "P": "Police Department",
        "T": "Traffic",
        "S": "Sanitation",
        "K": "Parks",
    }

    const boroughLookup = {
        "Brooklyn": "bk",
        "Queens": "qn",
        "Manhattan": "ny",
        "Bronx": "bx",
        "Staten Island": "si",
    }

const dtFormat = new Intl.DateTimeFormat("en-US");


    
// function to query NYC Open Data and render D3 calendar chart
function queryNYCOpenData() {

    const street = report.Streets;
    const issuingAgency = report.Agency;
    const borough = report.Borough
    const houseStart = report.HouseStart;
    const houseEnd = report.HouseEnd;
    const validIntersections = report.Intersections;

    document.getElementById("report-data").innerHTML = ''
    const el = document.createElement("div");
    el.className = "col-12 my-2 py-2 bg-white";
    document.getElementById("report-data").appendChild(el)
    const heading = document.createElement("h2")
    heading.innerText = `Violations on ${houseStart}-${houseEnd} ${street}`
    // heading.class="m-3"
    el.appendChild(heading)

    let spinner = document.createElement("div")
    spinner.className = "spinner-border m-5"
    spinner.setAttribute("role", "status")
    // spinner.innerText = "Loading ..." FIXME: invalid html structure; see https://getbootstrap.com/docs/5.2/components/spinners/
    el.appendChild(spinner)

    // TODO: summons_number
    const url = "https://data.cityofnewyork.us/resource/pvqr-7yc4.csv?$select=plate_id,registration_state,violation_code,issuing_agency,issue_date,street_name,house_number,intersecting_street,violation_time&$limit=75000";
    let filters = [];
    const dateFormat = d3.utcFormat("%Y-%m-%d")
    let displayFilters = [
      `issue_date between ${dateFormat(FY.start)} and ${dateFormat(FY.end)}`,
    ];

    if (street == null || street.length == 0) {
        let err = el.appendChild(document.createElement("div"));
        err.className="alert"
        err.innerText="Error: street not selected"
        el.removeChild(spinner)
        return;
    } else if (street.length == 1) {
        filters.push(`street_name="${street[0]}"`)
        displayFilters.push(`street_name="${street[0]}"`)
    } else {
        filters.push(`street_name in ('${street.join("','")}')`)
        displayFilters.push(`street_name in ('${street.join("','")}')`)
    }

    if (!isNaN(houseStart) && !isNaN(houseEnd)) {
        displayFilters.push(`house_number between ${houseStart} and ${houseEnd}`)
    }
    if (validIntersections.length > 1 ) {
        displayFilters.push(`OR intersecting_street endswith one of ('${validIntersections.join("', '")}')`)
    } else if (validIntersections.length == 1 ) {
        displayFilters.push(`OR intersecting_street endswith '${validIntersections[0]}'`)
    }

    switch (borough) {
        case "Brooklyn":
            filters.push(`violation_county in ('BK', 'K', 'Kings')`)
            displayFilters.push(`violation_county in ('BK', 'K', 'Kings') // Brooklyn`)
            break;
        case "Manhattan":
            filters.push(`violation_county in ('NY', 'MN')`)
            displayFilters.push(`violation_county in ('NY', 'MN') // Manhattan`)
            break;
        case "Bronx":
            filters.push(`violation_county in ('BX', 'Bronx')`)
            displayFilters.push(`violation_county in ('BX', 'Bronx') // Bronx`)
            break;
        case "Queens":
            filters.push(`violation_county in ('Q', 'QN', 'Qns')`)
            displayFilters.push(`violation_county in ('Q', 'QN', 'Qns') // Queens`)
            break;
        case "Staten Island":
            filters.push(`violation_county in ('R', 'Rich', 'ST')`)
            displayFilters.push(`violation_county in ('R', 'Rich', 'ST') // Staten Island`)
            break;
    }

    if (issuingAgency != "all") {
        filters.push(`issuing_agency='${issuingAgency}'`)
        displayFilters.push(`issuing_agency='${issuingAgency}' // ${agencyLookup[issuingAgency]}`)
    } else {
        filters.push(`issuing_agency in ('T','P','S')` )
        displayFilters.push(`issuing_agency in ('T','P','S') // Traffic, NYPD, Sanitation` )
    }
    const queryString = `&$where=${filters.join(" AND ")}`
    const fullUrl = `${url}${queryString}`;

    function isHouseMatch(h, houseStart, houseEnd) {
        if (isNaN(houseStart) || isNaN(houseEnd)) { return true;}
        if (houseStart > houseEnd) { return false }
        if (h === "") { return false}
        // console.log(h, houseStart, houseEnd)
        h = parseInt(h, 10)
        if (isNaN(h)) { return false }
        if (h < houseStart || h > houseEnd) { return false }
        return true
    }
    function isIntersectingMatch(i, options) {
        if (options.length == 0) { return false ;} // default to match none
        const s = i.toLowerCase()
        .replace(/.+ (.+\/of .+$)/, '$1') // strip the prefix before "w/of street"
        // console.log(i, s, options.indexOf(s))
        return options.indexOf(s) !== -1
    }  

    d3.csv(fullUrl).then(function(data) {
        // parse date strings to Date objects
        const parseDate = d3.utcParse("%Y-%m-%dT%H:%M:%S.%L");
        const parseTime = d3.utcParse("%I%M%p");
        const dtFormatHour = new Intl.DateTimeFormat("en-US", {
            hour: "numeric",
            minute: "numeric",
            // dayPeriod: "narrow",
            hour12: true,
            timeZone: "UTC",
        });
        if (data.length == 75000) {
            alert("⚠️ The Open Data Query returned the maximum results. Data is truncated. Narrow the street selection for complete results.")
        }
        data.forEach(function(d) {
            d.issue_date = parseDate(d.issue_date);
            d.count = 1
            // d.issue_date_dayonly = parseDate(d.issue_date); // day granularity (no time component)

            let violation_time = parseTime(d.violation_time + "M")
            if (violation_time != null ) {
                d.issue_date.setUTCHours(violation_time.getUTCHours())
                d.issue_date.setUTCMinutes(violation_time.getUTCMinutes())
                d.violation_time = dtFormatHour.format(d.issue_date)
            }
        })

        data.sort((a, b) => d3.ascending(a.issue_date, b.issue_date))

        data = data.filter( d=> { 
            if (d.issue_date < FY.start || d.issue_date > FY.end) { return false; }
            if (houseStart == NaN && houseEnd == NaN && validIntersections.length == 0) { return true;}
            // records must either match on an intersection (if set) XOR a house number
            if (d.intersecting_street !== "") { 
                return isIntersectingMatch(d.intersecting_street, validIntersections)
            }
            return isHouseMatch(d.house_number , houseStart, houseEnd)
        });
        const parkingData = data.filter(d => !nonParkingViolations.has(d.violation_code))
        const nonParkingData = data.filter(d => nonParkingViolations.has(d.violation_code))
        // console.log("matching data", data.length, data.slice(0,10))

        // group data by issue_date
        const groupByDate = d3.rollups(parkingData, v => v.length, d => d3.utcDay(d.issue_date));
        let topDate = undefined;
        let topDateCount = undefined;
        if (groupByDate.length > 0) {
            topDate = d3.greatest(groupByDate, ([, v]) => v)[0];
            topDateCount = d3.greatest(groupByDate, ([, v]) => v)[1];
        }

        const violationsByDay = groupByDate.map(([k,v]) => {return {date:k, count:v}})
        const groupOfDate = violationsByDay.map(d => d.date.toDateString())
        // extend to include zero counts for empty days
        violationsByDay.push(... d3.utcDay.range(FY.start, FY.end).filter(d => {return groupOfDate.indexOf(d.toDateString()) == -1}).map(k => { return {date:k, count:0}}))

        const groupByAgency = d3.rollups(parkingData, v => v.length, d => d.issuing_agency);
        const groupByViolation = d3.rollups(parkingData, v => v.length, d => d.violation_code);
        let topViolation = undefined
        let topViolationCount = undefined
        if (groupByViolation.length >= 1) {
            topViolation = d3.greatest(groupByViolation, ([, v]) => v)[0];
            topViolationCount = d3.greatest(groupByViolation, ([, v]) => v)[1];
        }
        const dtFormatLong = new Intl.DateTimeFormat("en-US", {
            weekday: "short",
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            timeZone: "UTC",
        });

        const maxVal = d3.max(violationsByDay, d=> d.count)

        let summary = el.appendChild(document.createElement("p"))
        summary.className="summary"
        let summaryParagraphs = [
            `<mark>${parkingData.length}</mark> parking violations were issued`,
            issuingAgency != "all" ? ` by <mark>${agencyLookup[issuingAgency]}</mark> `: "",
            ` on <mark>${groupByDate.length}</mark> of <mark>${violationsByDay.length}</mark> days between 
          <mark>${d3.utcFormat("%b %d %Y")(FY.start)}</mark> and <mark>${d3.utcFormat("%b %d %Y")(FY.end)}</mark> 
          (<mark>${d3.format("0.1%")(groupByDate.length/violationsByDay.length)}</mark> of the days). `
        ]

        summary.innerHTML = summaryParagraphs.join("")


        summary = el.appendChild(document.createElement("p"))
        summary.className="summary"
        summaryParagraphs = [
        //   `There were <mark>${data.length}</mark> violations recorded`,
        //   ` for street <mark>${street}</mark> `,
        //   ` for addresses <mark>${houseStart}-${houseEnd}</mark>`,
        //   (validIntersections.length == 0 ? "" :` or <mark>${validIntersections.length}</mark> intersecting streets`),
        //   `. `
        ]

        if (parkingData.length > 0 ) {
            if (groupByDate.length > 1) {
                summaryParagraphs.push(`<mark>${dtFormatLong.format(topDate)}</mark> had the most parking violations issued (<mark>${topDateCount}</mark>). `)
            }
            summaryParagraphs.push(`The most common parking violation was <mark>${ViolationCodes[topViolation]}</mark> (issued <mark>${topViolationCount}</mark> times). `)
        }
        if (nonParkingData.length > 0) {
            summaryParagraphs.push(`There ${nonParkingData.length == 1 ? "was":"were"} <mark>${nonParkingData.length}</mark> non-parking violations issued.`)
        }
        // TODO: use the filter not the results
        if (groupByAgency.length > 1) {
            groupByAgency.sort((a, b) => d3.descending(a[1], b[1])).forEach(([agency, count]) => {
                summaryParagraphs.push(`<mark>${agencyLookup[agency]}</mark> issued <mark>${count}</mark> parking violations (<mark>${d3.format("0.1%")(count/parkingData.length)}</mark>). `)
            })
        }

        summary.innerHTML = summaryParagraphs.join("")


        let container = document.createElement("div")
        container.className = "calendar-chart"
        el.appendChild(container)

        let cellSize = 14
        const width = container.offsetWidth - parseFloat(getComputedStyle(container).paddingLeft, 10)- parseFloat(getComputedStyle(container).paddingRight, 10)
        if (width > 900) {
            cellSize = 16
        }

        // create calendar chart
        const calendarChart = FYCalendar(violationsByDay, {
            x: d => d.date,
            y: d => d.count,
            Xmin: FY.start,
            Xmax: FY.end,
            // color: d3.scaleSequential([0, maxVal], d3.interpolateSpectral),
            color: d3.scaleSequential([1, maxVal], d3.interpolateHcl("#fafa6e", "#2A4858")),
            emptyColor: "#f3f3f3",
            weekday:"sunday",
            // width:900,
            // yFormat: "%d",
            cellSize: cellSize,
            cellPadding: 2,
            monthPadding: 17 + 2,
            formatMonth: "%b %Y",
            // title: d => d.count
            // todo: https://medium.com/@kj_schmidt/show-data-on-mouse-over-with-d3-js-3bf598ff8fc2
            title: d => d.count > 0 ? `${dtFormat.format(d.date)}: ${d.count}` : ""
        })


        // container.appendChild(Legend(
        //     calendarChart.scales.color, {
        //         title: "FY 2022-2023 Violations/day",
        //         width: 500,
        //     }
        // ));
        el.removeChild(spinner)


        container = document.createElement("div")
        container.className = "calendar-chart mb-4"
        container.appendChild(calendarChart)
        el.appendChild(container)
        if (parkingData.length > 0) {
            // create calendar chart
            const punchcard = Punchcard(parkingData, {
                x: d => d.issue_date,
                y: d => d.count,
                // color: d3.scaleSequential([0, maxVal], d3.interpolateSpectral),
                color: d3.interpolateHcl("rgb(71, 184, 135)", "#2A4858"),
                emptyColor: "#aaa",
                weekday:"sunday",
                // width:(25 + (22+1) * 24),
                // yFormat: "%d",
                cellSize: 22,
                cellPadding: 1,
                // formatMonth: "%b %Y",
                // title: d => d.count
                // todo: https://medium.com/@kj_schmidt/show-data-on-mouse-over-with-d3-js-3bf598ff8fc2
                // title: d => d.count > 0 ? `${dtFormat.format(d.date)}: ${d.count}` : ""
            })
            container = document.createElement("div")
            container.className = "punchcard-chart mb-4"
            container.appendChild(punchcard)
            el.appendChild(container)
        }

        {{if .SavePreview }}
        html2canvas(document.body, {
            backgroundColor: "#ffd900",
            width: 800,
            height: 400,
            windowWidth: 800,
            widowHeight: 400,
            onclone: d => {
                // console.log(d);
                d.getElementsByTagName("body")[0].className="render"
            },
            ignoreElements: e => e.classList.contains("hide-render")
        }).then(function(canvas) {
            canvas.toBlob((blob) => {
                fetch('', {
                    method: "put",
                    headers: {
                        'Content-type': 'image/png'
                    },
                    body: blob
                })
            })
        });
        {{end}}


        // container = document.createElement("div")
        // container.className = "agency-chart"
        // container.appendChild(BarChart(groupByAgency, {
        //     x: d => d[1],
        //     y: d => d[0],
        //     //   yDomain: d3.groupSort(alphabet, ([d]) => -d.frequency, d => d.letter), // sort by descending frequency
        //     //   xFormat: "%",
        //     xLabel: "Frequency →",
        //     //   width,
        //     color: "steelblue"
        // }))
        // el.appendChild(container)

        let debugQuery = el.appendChild(document.createElement("div"))
        debugQuery.className = "query mb-2 lh-sm"
        debugQuery.innerHTML=displayFilters.map(d=>`<code>${d}</code><br>`).join("\n")


        const table = el.appendChild(document.createElement("table"))
        table.className = "table table-sm table-xsm table-striped mb-2 p-2"

        const thead = table.appendChild(document.createElement("thead"))
        const tr = thead.appendChild(document.createElement("tr"))
        tr.className = "bg-dark text-light"
        tr.appendChild(document.createElement("th")).innerText = "Date"
        tr.appendChild(document.createElement("th")).innerText = "License"
        tr.appendChild(document.createElement("th")).innerText = "Location"
        let cell = tr.appendChild(document.createElement("th"))
        cell.className = groupByAgency.length > 1 ? "agencies": "agency"
        cell.innerText = "Agency"
        tr.appendChild(document.createElement("th")).innerText = "Violation"

        const tbody = table.appendChild(document.createElement("tbody"))
        data.forEach(d => {
            const tr = tbody.appendChild(document.createElement("tr"))
            tr.className = nonParkingViolations.has(d.violation_code) ? "non-parking-violation" : "parking-violation"
            tr.appendChild(document.createElement("td")).innerText = dtFormat.format(d.issue_date) + " " + d.violation_time // TODO format
            let cell = tr.appendChild(document.createElement("td"))
            cell.innerText = d.registration_state + ":" + d.plate_id 
            cell.className = "font-monospace"
            tr.appendChild(document.createElement("td")).innerText = d.house_number + ' ' + d.street_name + (d.intersecting_street == "" ? "":  " @ " + d.intersecting_street)
            cell = tr.appendChild(document.createElement("td"))
            cell.className = groupByAgency.length > 1 ? "agencies": "agency"
            cell.innerText = agencyLookup[d.issuing_agency]
            tr.appendChild(document.createElement("td")).innerText = ViolationCodes[d.violation_code]
        })
        el.appendChild(table)
        return false;
    });

}
queryNYCOpenData();


</script>
</body>
</html>
